[Desktop Entry]
Type=Application
Name=MultimPaste
Comment=Clipboard history picker
Exec=multimpaste
Terminal=false
Categories=Utility;
StartupNotify=false
